*, html, body {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

div[role="group"][tabindex] {
  height: 100%;
}
