// https://codepen.io/miguelcast/pen/pwZMOJ

$redColor: rgba(244,67,54,1);
$blueColor:rgba(33,150,243,1);

.glitch-svg {
    padding: 10px;
    color: #000;
    &:hover, * {
        cursor: pointer;
        -webkit-animation: glitch-animation-svg 200ms infinite;
        animation: glitch-animation-svg 200ms infinite;
    }
}

.glitch-text {
    text-transform: uppercase;
    color: rgb(200, 104, 251)!important;
    text-shadow: rgb(9, 134, 148) 1px 1px;
    text-decoration: none;
    padding: 10px;
    color: #000;
    &:hover {
        cursor: pointer;
        -webkit-animation: glitch-animation-text 200ms infinite;
        animation: glitch-animation-text 200ms infinite;
    }
}

@keyframes glitch-animation-svg {
    0% {
        // text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
        filter: drop-shadow(5px 4px $redColor)
                drop-shadow(-5px -6px $blueColor);
    }
    25% {
        // text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
        filter: drop-shadow(-5px -6px $redColor)
                drop-shadow(5px 4px $blueColor);
    }
    50% {
        // text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
        filter: drop-shadow(5px -4px $redColor)
                drop-shadow(-8px 4px $blueColor);
    }
    75% {
        // text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
        filter: drop-shadow(-8px -4px $redColor)
                drop-shadow(-5px -4px $blueColor);
    }
    100% {
        // text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
        filter: drop-shadow(-5px 0 $redColor)
                drop-shadow(5px -4px $blueColor);
    }
}

@keyframes glitch-animation-text {
    0% {
        text-shadow: 2px 1px $redColor, -1px -2px $blueColor;
    }
    25% {
        text-shadow: -1px -2px $redColor, 2px 1px $blueColor;
    }
    50% {
        text-shadow: 1px -2px $redColor, -3px 2px $blueColor;
    }
    75% {
        text-shadow: -1px -2px $redColor, -1px -2px $blueColor;
    }
    100% {
        text-shadow: -1px 0 $redColor, 1px -2px $blueColor;
    }
}


$font: "Roboto", monospace;

.cray {
    color: #203e86;

    $steps: 50;
    .cray-animation {
        outline: none;
        font-size: 18px;
        text-align: center;
        font-family: $font;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        * {
            animation: cray 3s infinite steps($steps);
            display: inline-block;
        }
    }

    @keyframes cray {
        @for $i from 1 to $steps {
            $per: 100% / $steps * $i;
            $weight: (100, 200, 300, 400, 500, 600, 700);
            $style: (normal, italic, normal, normal);
            $decor: (none, none, line-through, underline, none, none, none);
            $trans: (none, none, uppercase, lowercase, capitalize, none, none, none, none, none, none);

            $arrayW: random(7);
            $arrayS: random(4);
            $arrayD: random(7);
            $arrayT: random(11);

            #{$per} {
                font-weight: nth($weight, $arrayW);
                font-style: nth($style, $arrayS);
                text-decoration: nth($decor, $arrayD);
                text-transform: nth($trans, $arrayT);
            }
        }
    }
}
